@font-face {
    font-family: AvenirNext_bold;
    src: url(../assets/fonts/AvenirNextLTProBold.ttf) format('truetype');
}

@font-face {
    font-family: AvenirNext_demi;
    src: url(../assets/fonts/AvenirNextLTProDemi.ttf) format('truetype');
}

@font-face {
    font-family: "AvenirNext_regular";
    src: url(../assets/fonts/AvenirNextLTPro.ttf) format('truetype');
}