@font-face {
  font-family: AvenirNext_bold;
  src: url(../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: AvenirNext_demi;
  src: url(../assets/fonts/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext_regular";
  src: url(../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
}
.footer {
  background-color: #323232;
}
.footer__container {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    margin: 0 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
  }
}
.footer__header--title {
  font-family: "AvenirNext_bold", "sans-serif";
  color: #FFFFFF;
  font-size: 2.3rem;
  margin: 0;
  padding: 3rem 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header--title {
    font-size: 2.25rem;
    padding: 3rem 0 2.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__header--title {
    padding: 3rem 3rem 2.5rem 3rem;
  }
}
.footer__header--icon {
  display: flex;
  width: 300px;
  padding: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header--icon {
    padding: 3rem 0 2.5rem 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__header--icon {
    width: 46.875rem;
  }
}
.footer__header--icon-img {
  height: 1.875rem;
  width: auto;
  padding-right: 2.8125rem;
}
.footer__description {
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .footer__description {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description {
    padding: 0 3rem;
  }
}
.footer__description--name {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--name {
    font-size: 1rem;
  }
}
.footer__description--addOne {
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--addOne {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--addtwo {
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--addtwo {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--email {
  margin: 0;
  padding: 0 0 1.75rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--email {
    padding-bottom: 3rem;
  }
}
.footer__description--email-link {
  text-decoration: none;
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .footer__description--email-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--email-link:hover {
  color: #AFAFAF;
}
@media only screen and (min-width: 768px) {
  .footer__description--container-one {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description--container-one {
    margin-right: 3.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__description--container-two {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description--container-two {
    margin-right: 3.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__description--container-three {
    display: flex;
    flex-direction: column;
  }
}
.footer__logo-one {
  width: 20px;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .footer__logo-one {
    width: 6.25rem;
    height: 7.5rem;
    visibility: visible;
    padding-top: 0.5rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo-one {
    width: 6.25rem;
    height: 7.5rem;
    visibility: visible;
    padding-top: 0.5rem;
    margin-right: 2.875rem;
  }
}
.footer__logo-two {
  padding: 2rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__logo-two {
    width: 1.25rem;
    display: none;
  }
}
.footer__copyright {
  color: #FFFFFF;
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1.5rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    padding: 0 0 2.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__copyright {
    padding: 0 0 2.5rem 3rem;
  }
}

.hero {
  width: 100%;
  height: 11.4375rem;
  background-image: url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    height: 43.75rem;
  }
}
.hero__image {
  width: 100%;
  height: 11.4375rem;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .hero__image {
    height: 25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__image {
    height: 43.75rem;
  }
}
.hero__text {
  position: absolute;
  font-family: "AvenirNext_bold", sans-serif;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 2rem;
  color: #FFFFFF;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__text {
    top: 42%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
}

.about {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .about {
    margin: 0 2.25rem;
  }
}
.about .about__head {
  font-family: "AvenirNext_bold", sans-serif;
  font-size: 1.5rem;
  color: #323232;
  margin: 1.5rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__head {
    font-size: 2.25rem;
    margin: 3rem 0 2.25rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__head {
    margin: 3rem 0 2.25rem 4rem;
  }
}
.about .about__component--container {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container {
    width: 80%;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container {
    width: 70%;
  }
}
.about .about__component--container-img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-img {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container-img {
    height: 40vw;
    width: 100%;
    text-align: center;
  }
}
.about .about__component--container-text {
  font-family: "AvenirNext_demi", sans-serif;
  font-size: 0.875rem;
  color: #323232;
  line-height: 1.375rem;
  margin: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-text {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 2rem 0 1rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container-text {
    margin: 2rem 12rem 1rem 0;
  }
}
.about .about__component--container-name {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.875rem;
  margin: 0 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-name {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1rem;
    margin: 0 0 3rem 0;
  }
}
.about .about__component--description-title {
  font-family: "AvenirNext_demi", sans-serif;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-title {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item {
    display: flex;
  }
}
.about .about__component--description-item--one {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item--one {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 1.5rem 1rem 0;
  }
}
.about .about__component--description-item--two {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item--two {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 0 1rem 0;
  }
}

.header {
  height: 100%;
  background-color: #323232;
  color: white;
  width: 100vw;
}
.header__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__navigation {
    flex-direction: row;
    align-items: flex-start;
  }
}
.header__navigation--container {
  text-align: center;
  padding: 1.5rem;
  font-family: "AvenirNext_demi", "sans-serif";
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .header__navigation--container {
    padding-left: 1.5625rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__navigation--container {
    padding-left: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .header__navigation--container-logo {
    width: 6.25rem;
    margin: 0 1.25rem;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header__navigation--container-logo {
    margin: 0 0 0 3rem;
  }
}
.header__navigation--menu {
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 0;
}
.header__navigation--menu-item {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-family: "AvenirNext_demi", "sans-serif";
  font-weight: 600;
  margin: 0;
  padding: 0 1.25rem 0 1.25rem;
}
@media only screen and (min-width: 768px) {
  .header__navigation--menu-item {
    padding: 1.5rem 0 0 0;
  }
}
.header__navigation--menu-item-list {
  padding: 0 1.5625rem 1rem 1.5625rem;
  position: relative;
}
.header__navigation--menu-item-list a {
  color: #E1E1E1;
  text-decoration: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__navigation--menu-item-list a {
    font-size: 1rem;
  }
}
.header__navigation--menu-item-list a:hover, .header__navigation--menu-item-list a.active {
  color: white;
  font-weight: bold;
  border-bottom: 10px solid #ffffff;
  padding-bottom: 1rem;
}
.header__navigation--menu-item-list a:hover::after, .header__navigation--menu-item-list a.active::after {
  content: "";
  display: block;
  height: 0.125rem;
  background-color: #ffffff;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  min-width: 1rem;
  max-width: 100%;
}
.header__navigation--menu-item-list a::after {
  content: "";
  display: block;
  height: 0.125rem;
  background-color: transparent;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
}

.photoGallery {
  background-color: #FAFAFA;
}
.photoGallery__container {
  margin: 0 1rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container {
    margin: 0 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.photoGallery__container--title {
  font-family: "AvenirNext_bold", sans-serif;
  font-size: 1.5rem;
  color: #323232;
  margin: 0 0 1rem 0;
  padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container--title {
    font-size: 2.25rem;
    margin: 0 0 2.25rem 0;
    padding-top: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .photoGallery__container--title {
    margin-left: 4rem;
  }
}
.photoGallery__container--grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container--grid {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .photoGallery__container--grid {
    margin: 0 4rem;
  }
}
.photoGallery__container--img {
  width: 100%;
  height: auto;
  display: block;
}

/* mobile */
.comment {
  background-color: #FFFFFF;
  margin: 0 1rem 0 1rem;
}
.comment__title {
  font-family: "AvenirNext_bold", sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0 2.5rem;
}
.comment__image {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin-top: 1.4rem;
}
.comment__name-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
}
.comment__input-container {
  display: flex;
  flex-direction: column;
}
.comment__input-container--text {
  font-family: "AvenirNext_demi", sans-serif;
  color: #AFAFAF;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0 0 0.5rem 0;
}
.comment__text-container {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.8125rem;
  border: 1px solid #323232;
  border-radius: 0.25rem;
  width: 14rem;
  background-color: #FAFAFA;
  border-color: #AFAFAF;
  resize: none;
}
.comment__text-container:focus {
  border: 2px solid #323232;
  outline-width: 0;
}
.comment__text-container--one {
  margin: 0 0 0.5rem 0;
  height: 2.5rem;
  padding: 0.625rem;
}
.comment__text-container--two {
  padding: 0.625rem 0.625rem 3.125rem 0.625rem;
  margin: 0 0 0.5rem 0;
  height: 5rem;
}
.comment__button {
  font-family: "AvenirNext_demi", sans-serif;
  background-color: #323232;
  border-style: none;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-align: center;
  width: 14rem;
  margin: 0 0 2rem 0;
  outline-width: 0;
  padding: 0;
}
.comment__button:hover {
  background-color: #000000;
}
.comment__default {
  border-bottom: 1px solid #E1E1E1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__header--image-one {
  height: 3rem;
  width: 3rem;
  background-color: #E1E1E1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  border-radius: 2rem;
  margin-top: 1.5rem;
}
.comment__header--name {
  color: #323232;
  font-family: "AvenirNext_demi", sans-serif;
  font-size: 0.8125rem;
  padding: 1.75rem 0 0 1rem;
  margin: 0;
}
.comment__header--date {
  color: #AFAFAF;
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.8125rem;
  margin: 0;
  padding: 1.75rem 0 0 0;
}
.comment__text-container-default {
  display: flex;
}
.comment__text-container-default--comment {
  word-wrap: break-word;
  width: 96%;
  color: #323232;
  font-size: 0.8125rem;
  font-family: "AvenirNext_regular", sans-serif;
  margin: 0;
  padding: 1rem 0 1.5rem 1rem;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .comment {
    background-color: #FFFFFF;
    margin: 0 1.5rem 0 1.5rem;
  }
  .comment__title {
    font-family: "AvenirNext_bold", sans-serif;
    font-size: 2.25rem;
    margin: 3rem 0 3.5rem;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.4rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
    border: none;
  }
  .comment__border-container {
    display: flex;
    justify-content: center;
  }
  .comment__border {
    width: 33rem;
    border: 1px solid #E1E1E1;
  }
  .comment__input-container {
    display: flex;
    flex-direction: column;
  }
  .comment__input-container--text {
    font-family: "AvenirNext_demi", sans-serif;
    color: #AFAFAF;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__text-container {
    font-family: "AvenirNext_regular", sans-serif;
    font-size: 1rem;
    border: 1px solid #323232;
    border-radius: 0.25rem;
    width: 28.75rem;
    background-color: #FAFAFA;
    border-color: #AFAFAF;
    resize: none;
  }
  .comment__text-container:focus {
    border: 1px solid #323232;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0 0 1.5rem 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__text-container--two {
    padding: 0.625rem 1rem 0 1rem;
    height: 6rem;
    margin: 0 0 1.5rem 0;
  }
  .comment__button {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1rem;
    background-color: #323232;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #FFFFFF;
    text-align: center;
    width: 10rem;
    margin: 0 0 1.5rem 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #000000;
  }
  .comment__default-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment__default {
    width: 528px;
  }
  .comment__header {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .comment__header--image-one {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  .comment__header--name {
    color: #323232;
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1rem;
    padding: 1.75rem 1rem 0 3.9375rem;
    margin: 0;
  }
  .comment__header--date {
    color: #AFAFAF;
    font-family: "AvenirNext_regular", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 1.75rem 0 0 0;
  }
  .comment__text-container-default {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #E1E1E1;
  }
  .comment__text-container-default--comment {
    color: #323232;
    width: 29rem;
    font-size: 0.875rem;
    font-family: "AvenirNext_regular", sans-serif;
    margin: 0;
    padding: 1rem 0 1.5rem 0;
  }
}
/* desktop */
@media only screen and (min-width: 1280px) {
  .comment {
    background-color: #FFFFFF;
    margin: 0 11.25rem 0 11.25rem;
  }
  .comment__title {
    font-family: "AvenirNext_bold", sans-serif;
    font-size: 2.25rem;
    margin: 3rem 0 3.5rem;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.4rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
  }
  .comment__input-container {
    display: flex;
    flex-direction: column;
  }
  .comment__input-container--text {
    font-family: "AvenirNext_demi", sans-serif;
    color: #AFAFAF;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__text-container {
    font-family: "AvenirNext_regular", sans-serif;
    font-size: 0.8125rem;
    border: 1px solid #323232;
    border-radius: 0.25rem;
    width: 28.75rem;
    background-color: #FAFAFA;
    border-color: #AFAFAF;
    resize: none;
  }
  .comment__text-container:focus {
    border: 1px solid #323232;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0 0 1.5rem 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__text-container--two {
    padding: 0.625rem 1rem 0 1rem;
    height: 6rem;
    margin: 0 0 1.5rem 0;
  }
  .comment__button {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1rem;
    background-color: #323232;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #FFFFFF;
    text-align: center;
    width: 10rem;
    margin: 0 0 1.5rem 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #000000;
  }
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=bio.css.map */