@use './partials/variables' as *;
@use './partials/mixins' as *;

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
}

@font-face {
    font-family: "AvenirNext_bold";
    src: url(../assets/fonts/AvenirNextLTProBold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "AvenirNext_demi";
    src: url(../assets/fonts/AvenirNextLTProDemi.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNext_regular";
    src: url(../assets/fonts/AvenirNextLTPro.ttf) format('truetype');
    font-weight: 400;
}

.navigation {
    background-color: #323232;
    color: #ffffff;
    font-family: "AvenirNext_regular", sans-serif;
    font-weight: 700;
    height: 100%;
    width: 100%;
    

    
    @include mobile {
        display: flex;
        flex-direction: column;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.navigation .logo{
    
    @include mobile {
        font-size: 3.125rem;
        font-weight: 500;
        line-height: 32%;
        padding: 40px;
        text-align: center;   
    }
    @include tablet {
        font-size: 3.75rem;
        line-height: 68%;
        padding-left: 60px;
    }
    @include desktop {
        font-size: 3.75rem;
        line-height: 68%;
        padding-left: 60px;
    }
}

.logo a{
    color: #ffffff;
}

.navigation__menu--name {
    list-style-type: none;
    font-weight: 400;
    display: flex;
    padding: 0;
    div {
        width: 50%;
        padding-bottom: 20px;
        li {
            width: 100%;
            @include mobile {
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
        } 
    }
    
    
    @include tablet {
    font-size: 2.125rem;
    font-weight: 600;        
    }

    @include desktop {
        font-size: 2.125rem;
        font-weight: 600;   
    }
    
}

.navigation__menu {
    align-self: center;
}

.navigation__menu--name a {
    color: #ffffff;
    
    
    @include mobile {
        padding: 25px 100px;
    }

    @include tablet {
        padding: 40px;
    }
    
    @include desktop {
        padding: 40px;
        
    }
}

.navigation__menu a:hover {
    border-bottom: solid red;
}

.navigation__menu li.active a {
    border-bottom: 5px solid red;
}

.hero {
    display: flex;
    height: 100%;
    
    width: 100%;
    object-fit: cover;
    flex-wrap: wrap;
    justify-content: center;
}

.hero__image {
    display: inline-block;
    position: relative;
    width: 100%;
}

.hero__image img {
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
}

.hero__image--text {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #ffffff;
    font-family: "AvenirNext_regular", sans-serif;

    @include mobile {
        
        font-size: 1.875rem;
        font-weight: 700;
    }

    @include tablet {
        font-size: 3.125rem;
        font-weight: 700;
    }
    
    @include desktop {
        font-size: 3.75rem;
        font-weight: 700;
    }
}

.about__head {
    font-family: "AvenirNext_regular", sans-serif;
    font-weight: 700;

    @include mobile {
        font-size: 2.5rem;
        padding-top: 24px;
        // padding-bottom: 16px;
        padding-left: 16px;
    }

    @include tablet {
        font-size: 3.75rem;
        padding-top: 48px;
        // padding-bottom: 36px;
        padding-left: 36px;
    }

    @include desktop {
        font-size: 3.75rem;
        padding-top: 48px;
        // padding-bottom: 36px;
        padding-left: 36px;
    }
}

.about__image {
    display: inline-block;
    position: relative;
    width: 100%;
}

.about__image {
   text-align: center;
//    padding: 20px;
   box-sizing: border-box;

   img {
    // max-width: 100%;
    // height: 700px;

    @include mobile {
        height: auto;
        width: 100%;
        padding: 16px;
    }

    @include tablet {
        height: auto;
        width: 80%;
        padding: 36px;
    }
    @include desktop {
        height: auto;
        width: 80%;
        padding: 36px;
    }
   }
}

.about__text p {
    font-family: "AvenirNext_bold", sans-serif;
    font-weight: 700;
    
    @include mobile {
        font-size: 1.5625rem;
        justify-content: center;
        line-height: 32px;
        padding: 0 16px;
    }
    @include tablet {
        font-size: 1.875rem;
        line-height: 40px;
        padding: 0 36px;
    }
    @include desktop {
        font-size: 1.875rem;
        line-height: 40px;
        padding: 0 36px;
    } 
}

.about__description {
    margin-top: 40px;

    @include mobile {
        p:nth-of-type(1) {
            margin-bottom: 30px;
        }
    }
    
    
    h6 {
        font-family: "AvenirNext_demi", sans-serif;
        margin-bottom: 20px;

        @include mobile {
            font-size: 2rem;
            padding: 0 16px;
        }
        @include tablet {
            font-size: 2.5rem;
            padding: 0 36px;
        }
        @include desktop {
            font-size: 2.5rem;
            padding: 0 36px;
        }
    }    

}

.about__description--p {
    display: flex;

    @include mobile{
        display: inline;
    }

    @include tablet {
        display: flex;
    }

}
.about__description--p p {
    font-family: "AvenirNext_regular", sans-serif; 
    font-weight: 600;

    @include mobile {
       
        font-size: 1.25rem;
        line-height: 30px;
        padding: 0 16px;
    }
    @include tablet {
       
        font-size: 1.875rem;
        line-height: 40px;
        padding: 0 36px;
    }
    @include  desktop{
        font-size: 1.875rem;
        line-height: 40px;
        padding: 0 36px;
       
    }
 }

.photoGallery {
    background-color: #FAFAFA;
}

 .photoGallery__head {
    font-family: "AvenirNext_regular", sans-serif;
    font-weight: 700;

    @include mobile {
        font-size: 2.5rem;
        padding-top: 24px;
        // padding-bottom: 16px;
        padding-left: 16px;
    }

    @include tablet {
        font-size: 3.125rem;
        padding-top: 48px;
        // padding-bottom: 36px;
        padding-left: 36px;
    }

    @include desktop {
        font-size: 3.125rem;
        padding-top: 48px;
        // padding-bottom: 36px;
        padding-left: 36px;
    }
 }

 .photoGallery__grid {
    display: grid;
    
    padding: 16px;
 }

 .photoGallery__grid img {
    width: 100%;
    height: auto;
    display: block;
}

.photoGallery__grid {
    @include mobile {
        grid-gap: 16px;
        grid-template-columns: 1fr;
    }
    
    @include tablet {
        grid-gap: 36px;
        grid-template-columns: repeat(3, 1fr);
    }
}