@font-face {
  font-family: AvenirNext_bold;
  src: url(../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: AvenirNext_demi;
  src: url(../assets/fonts/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext_regular";
  src: url(../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
}
.hero__shows {
  width: 100%;
  height: 18.75rem;
  background-image: url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .hero__shows {
    height: 31.25rem;
  }
}
.hero__shows--container {
  height: 18.75rem;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0 1rem 0 1rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .hero__shows--container {
    height: 31.25rem;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__shows--container {
    display: flex;
    padding: 0 5.25rem 0 5.25rem;
  }
}
.hero__shows--text-subtitle {
  font-family: "AvenirNext_demi", sans-serif;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin: 0;
  padding: 3rem 0 0 0;
}
@media only screen and (min-width: 768px) {
  .hero__shows--text-subtitle {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1.5rem;
    padding: 4rem 0 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__shows--text-subtitle {
    padding: 10rem 0 0 0;
  }
}
.hero__shows--text-title {
  font-family: "AvenirNext_bold", sans-serif;
  color: #FFFFFF;
  font-size: 1.56rem;
  line-height: 2rem;
  margin: 0;
  padding: 1rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .hero__shows--text-title {
    font-size: 3.75rem;
    font-weight: 300;
    width: 37.8125rem;
    padding: 1rem 0 2rem 0;
    line-height: 4.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__shows--text-title {
    width: 39.8125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__shows--iframe {
    height: 26.8125rem;
    display: flex;
    align-items: center;
    padding-top: 120px;
  }
}
.hero__shows--iframe-song {
  width: 18rem;
  height: 6rem;
}
@media only screen and (min-width: 768px) {
  .hero__shows--iframe-song {
    width: 27.25rem;
    height: 9.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__shows--iframe-song {
    width: 29.6rem;
    height: 7rem;
  }
}

.footer {
  background-color: #323232;
}
.footer__container {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    margin: 0 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
  }
}
.footer__header--title {
  font-family: "AvenirNext_bold", "sans-serif";
  color: #FFFFFF;
  font-size: 2.3rem;
  margin: 0;
  padding: 3rem 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header--title {
    font-size: 2.25rem;
    padding: 3rem 0 2.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__header--title {
    padding: 3rem 3rem 2.5rem 3rem;
  }
}
.footer__header--icon {
  display: flex;
  width: 300px;
  padding: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__header--icon {
    padding: 3rem 0 2.5rem 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__header--icon {
    width: 46.875rem;
  }
}
.footer__header--icon-img {
  height: 1.875rem;
  width: auto;
  padding-right: 2.8125rem;
}
.footer__description {
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .footer__description {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description {
    padding: 0 3rem;
  }
}
.footer__description--name {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--name {
    font-size: 1rem;
  }
}
.footer__description--addOne {
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--addOne {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--addtwo {
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--addtwo {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--email {
  margin: 0;
  padding: 0 0 1.75rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__description--email {
    padding-bottom: 3rem;
  }
}
.footer__description--email-link {
  text-decoration: none;
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .footer__description--email-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__description--email-link:hover {
  color: #AFAFAF;
}
@media only screen and (min-width: 768px) {
  .footer__description--container-one {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description--container-one {
    margin-right: 3.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__description--container-two {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__description--container-two {
    margin-right: 3.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__description--container-three {
    display: flex;
    flex-direction: column;
  }
}
.footer__logo-one {
  width: 20px;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .footer__logo-one {
    width: 6.25rem;
    height: 7.5rem;
    visibility: visible;
    padding-top: 0.5rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo-one {
    width: 6.25rem;
    height: 7.5rem;
    visibility: visible;
    padding-top: 0.5rem;
    margin-right: 2.875rem;
  }
}
.footer__logo-two {
  padding: 2rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__logo-two {
    width: 1.25rem;
    display: none;
  }
}
.footer__copyright {
  color: #FFFFFF;
  font-family: "AvenirNext_regular", "sans-serif";
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1.5rem 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    padding: 0 0 2.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__copyright {
    padding: 0 0 2.5rem 3rem;
  }
}

.hero {
  width: 100%;
  height: 11.4375rem;
  background-image: url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    height: 43.75rem;
  }
}
.hero__image {
  width: 100%;
  height: 11.4375rem;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .hero__image {
    height: 25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__image {
    height: 43.75rem;
  }
}
.hero__text {
  position: absolute;
  font-family: "AvenirNext_bold", sans-serif;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 2rem;
  color: #FFFFFF;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__text {
    top: 42%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
}

.about {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .about {
    margin: 0 2.25rem;
  }
}
.about .about__head {
  font-family: "AvenirNext_bold", sans-serif;
  font-size: 1.5rem;
  color: #323232;
  margin: 1.5rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__head {
    font-size: 2.25rem;
    margin: 3rem 0 2.25rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__head {
    margin: 3rem 0 2.25rem 4rem;
  }
}
.about .about__component--container {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container {
    width: 80%;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container {
    width: 70%;
  }
}
.about .about__component--container-img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-img {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container-img {
    height: 40vw;
    width: 100%;
    text-align: center;
  }
}
.about .about__component--container-text {
  font-family: "AvenirNext_demi", sans-serif;
  font-size: 0.875rem;
  color: #323232;
  line-height: 1.375rem;
  margin: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-text {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 2rem 0 1rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about .about__component--container-text {
    margin: 2rem 12rem 1rem 0;
  }
}
.about .about__component--container-name {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.875rem;
  margin: 0 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--container-name {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1rem;
    margin: 0 0 3rem 0;
  }
}
.about .about__component--description-title {
  font-family: "AvenirNext_demi", sans-serif;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-title {
    font-family: "AvenirNext_demi", sans-serif;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item {
    display: flex;
  }
}
.about .about__component--description-item--one {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item--one {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 1.5rem 1rem 0;
  }
}
.about .about__component--description-item--two {
  font-family: "AvenirNext_regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .about .about__component--description-item--two {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0 0 1rem 0;
  }
}

.header {
  height: 100%;
  background-color: #323232;
  color: white;
  width: 100vw;
}
.header__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__navigation {
    flex-direction: row;
    align-items: flex-start;
  }
}
.header__navigation--container {
  text-align: center;
  padding: 1.5rem;
  font-family: "AvenirNext_demi", "sans-serif";
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .header__navigation--container {
    padding-left: 1.5625rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__navigation--container {
    padding-left: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .header__navigation--container-logo {
    width: 6.25rem;
    margin: 0 1.25rem;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header__navigation--container-logo {
    margin: 0 0 0 3rem;
  }
}
.header__navigation--menu {
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 0;
}
.header__navigation--menu-item {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-family: "AvenirNext_demi", "sans-serif";
  font-weight: 600;
  margin: 0;
  padding: 0 1.25rem 0 1.25rem;
}
@media only screen and (min-width: 768px) {
  .header__navigation--menu-item {
    padding: 1.5rem 0 0 0;
  }
}
.header__navigation--menu-item-list {
  padding: 0 1.5625rem 1rem 1.5625rem;
  position: relative;
}
.header__navigation--menu-item-list a {
  color: #E1E1E1;
  text-decoration: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__navigation--menu-item-list a {
    font-size: 1rem;
  }
}
.header__navigation--menu-item-list a:hover, .header__navigation--menu-item-list a.active {
  color: white;
  font-weight: bold;
  border-bottom: 10px solid #ffffff;
  padding-bottom: 1rem;
}
.header__navigation--menu-item-list a:hover::after, .header__navigation--menu-item-list a.active::after {
  content: "";
  display: block;
  height: 0.125rem;
  background-color: #ffffff;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  min-width: 1rem;
  max-width: 100%;
}
.header__navigation--menu-item-list a::after {
  content: "";
  display: block;
  height: 0.125rem;
  background-color: transparent;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
}

.photoGallery {
  background-color: #FAFAFA;
}
.photoGallery__container {
  margin: 0 1rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container {
    margin: 0 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.photoGallery__container--title {
  font-family: "AvenirNext_bold", sans-serif;
  font-size: 1.5rem;
  color: #323232;
  margin: 0 0 1rem 0;
  padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container--title {
    font-size: 2.25rem;
    margin: 0 0 2.25rem 0;
    padding-top: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .photoGallery__container--title {
    margin-left: 4rem;
  }
}
.photoGallery__container--grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 768px) {
  .photoGallery__container--grid {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .photoGallery__container--grid {
    margin: 0 4rem;
  }
}
.photoGallery__container--img {
  width: 100%;
  height: auto;
  display: block;
}

.shows {
  margin: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .shows {
    margin: 0 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .shows {
    margin: 0 11.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__container {
    display: flex;
    justify-content: space-between;
  }
}
.shows__container--header-title {
  font-family: "AvenirNext_bold", "sans-serif";
  color: #323232;
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}
@media only screen and (min-width: 768px) {
  .shows__container--header-title {
    font-size: 2.25rem;
    margin: 2rem 0 2rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__description {
    width: 50.25rem;
  }
}
.shows__description--label {
  visibility: hidden;
  height: 1px;
  width: 10px;
}
@media only screen and (min-width: 768px) {
  .shows__description--label {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    font-family: "AvenirNext_demi", "sans-serif";
    font-size: 0.75rem;
    color: #AFAFAF;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__description--label {
    align-items: flex-end;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .shows__description--label-date {
    margin-right: 9.375rem;
    align-self: center;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__description--label-date {
    margin: 5rem 0 0 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .shows__description--label-venue {
    margin-right: 9.375rem;
    align-self: center;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__description--label-venue {
    margin: 5rem 0 0 12.8125rem;
  }
}
@media only screen and (min-width: 768px) {
  .shows__description--label-location {
    margin: 0;
    align-self: center;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__description--label-location {
    margin: 5rem 0 0 10.625rem;
  }
}
.shows__description--label-button {
  visibility: hidden;
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.8125rem;
  width: 160px;
  height: 48px;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 0.3125rem;
  border: none;
}
@media only screen and (min-width: 768px) {
  .shows__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #AFAFAF;
  }
}
.shows__data--date-label {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.8125rem;
  color: #AFAFAF;
  margin: 1rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--date-label {
    visibility: hidden;
    margin: 0;
    width: 0px;
  }
}
.shows__data--date {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.875rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--date {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__data--date {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
  }
}
.shows__data--venue-label {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.8125rem;
  color: #AFAFAF;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--venue-label {
    visibility: hidden;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__data--venue-label {
    margin: 0;
  }
}
.shows__data--venue {
  font-family: "AvenirNext_regular", "sans-serif";
  font-size: 0.8125rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--venue {
    margin: 0;
    text-align: left;
  }
}
.shows__data--location-label {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.8125rem;
  color: #AFAFAF;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--location-label {
    visibility: hidden;
  }
}
.shows__data--location {
  font-family: "AvenirNext_regular", "sans-serif";
  font-size: 0.8125rem;
  margin: 0 0 2rem 0;
}
@media only screen and (min-width: 768px) {
  .shows__data--location {
    margin: 0;
    text-align: left;
  }
}
.shows__data--button-div {
  padding-bottom: 1rem;
  border-bottom: 1px solid #AFAFAF;
}
@media only screen and (min-width: 768px) {
  .shows__data--button-div {
    padding: 1rem 0;
    border: none;
  }
}
.shows__data--button {
  font-family: "AvenirNext_demi", "sans-serif";
  font-size: 0.8125rem;
  width: 288px;
  height: 48px;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 0.3125rem;
  border: none;
}
.shows__data--button:hover {
  background-color: #000000;
  box-shadow: 2px 2px 20px;
}
@media only screen and (min-width: 768px) {
  .shows__data--button {
    width: 160px;
    height: 48px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=shows.css.map */